# ==========================
# Python
# ==========================
**/__pycache__/
*.pyc
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
*.pyo
*.pyd

# ==========================
# Ambientes virtuais
# ==========================
.venv/
venv/
env/
ENV/
.ipynb_checkpoints/

# ==========================
# Jupyter
# ==========================
*.ipynb_checkpoints
.jupyter/
.profile_default/
ipython_config.py

# ==========================
# Logs e temporários
# ==========================
*.log
*.tmp
*.temp
*.bak
.DS_Store
Thumbs.db

# ==========================
# Dados grandes / temporários
# ==========================
*.csv
*.tsv
*.parquet
*.h5
*.db
*.sqlite
*.feather
*.gz
*.zip
dados/primarios

# ==========================
# IDE / VSCode
# ==========================
.vscode/
.history/
